<div class="login-form">
  <form (ngSubmit)="onFormSubmit()" [formGroup]="loginForm" method="post">
    <h2 class="text-center">Iniciar sesión</h2>
    <div class="form-group">
      <input formControlName="username" id="username" name="username" type="email" class="form-control" placeholder="Email" required="required">
      <span *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched" class="help-block text-danger">Este campo es requerido</span>
      <span *ngIf="loginForm.controls.username.errors?.email && loginForm.controls.username.touched" class="help-block text-danger">Este no es un correo válido.</span>

    </div>
    <div class="form-group">
      <input formControlName="password" id="password" name="password" type="password" class="form-control" placeholder="Contraseña" required="required">
      <span *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="help-block text-danger">Este campo es requerido</span>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Iniciar sesión</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input formControlName="keep_sesion" id="keep_sesion" name="keep_sesion" type="checkbox"> Mantener sesión</label>
    </div>
  </form>
  <p class="text-center"><a href="#">Crear cuenta</a></p>
</div>
