<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">Registro</h3>
        <fieldset>
          <div class="form-group has-error">
            <input class="form-control input-lg" placeholder="E-mail" name="email" type="text">
          </div>
          <div class="form-group has-success">
            <input class="form-control input-lg" placeholder="Contraseña" name="password" value="" type="password">
          </div>
          <div class="form-group has-success">
            <input class="form-control input-lg" placeholder="Confirmar contraseña" name="password" value="" type="password">
          </div>
          <div class="form-group has-error">
            <input class="form-control input-lg" placeholder="Nombre(s)" name="Nombre" type="text">
          </div>
          <div class="form-group has-error">
            <input class="form-control input-lg" placeholder="Apellido(s)" name="Nombre" type="text">
          </div>
          <input class="btn btn-lg btn-primary btn-block" value="Completar registro" type="submit">
        </fieldset>
      </div>
    </div>
  </div>
</div>
